<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="console"/>
  </root>

  <logger name="com.github.jinahya" level="debug" additivity="false"/>

  <!-- https://thorben-janssen.com/hibernate-logging-guide/ -->
  <!-- https://qiita.com/hanohrs/items/2bade076e38ce0844403 -->

  <!-- https://stackoverflow.com/a/1713464/330457 -->
  <!-- https://www.muehlencord.de/wordpress/2023/08/30/log-queries-with-parameters-in-hibernate-5-and-6/ -->
  <logger name="org.hibernate.SQL" level="debug" additivity="false"/>
<!--  <logger name="org.hibernate.state" level="debug" additivity="false"/>-->
<!--  <logger name="org.hibernate.type" level="trace" additivity="false"/>-->
<!--  <logger name="org.hibernate.type.descriptor.jdbc.BasicBinder" level="trace" additivity="false"/>-->
<!--  <logger name="org.hibernate.type.descriptor.sql" level="trace"/>--> <!-- hibernate 4 and 5 -->

  <logger name="org.hibernate.orm.jdbc.bind" level="trace"/> <!-- hibernate 6 -->
  <logger name="org.hibernate.orm.jdbc.extract" level="trace"/> <!-- hibernate 6 -->

</configuration>
