<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  kftc-financial-institution-info
  %%
  Copyright (C) 2024 Jinahya, Inc.
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="console"/>
  </root>

  <!--  <logger name="com.github.jinahya" level="debug" additivity="false"/>-->
  <logger name="com.github.jinahya" level="debug"/>

  <!-- https://thorben-janssen.com/hibernate-logging-guide/ -->
  <!-- https://qiita.com/hanohrs/items/2bade076e38ce0844403 -->

  <!-- https://stackoverflow.com/a/1713464/330457 -->
  <!-- https://www.muehlencord.de/wordpress/2023/08/30/log-queries-with-parameters-in-hibernate-5-and-6/ -->
  <!--  <logger name="org.hibernate.SQL" level="debug"/>-->
  <!--  <logger name="org.hibernate.state" level="debug" additivity="false"/>-->
  <!--  <logger name="org.hibernate.type" level="trace" additivity="false"/>-->
  <!--  <logger name="org.hibernate.type.descriptor.jdbc.BasicBinder" level="trace" additivity="false"/>-->
  <!--  <logger name="org.hibernate.type.descriptor.sql" level="trace"/>--> <!-- hibernate 4 and 5 -->

  <!--  <logger name="org.hibernate.orm.jdbc.bind" level="trace"/> &lt;!&ndash; hibernate 6 &ndash;&gt;-->
  <!--  <logger name="org.hibernate.orm.jdbc.extract" level="trace"/> &lt;!&ndash; hibernate 6 &ndash;&gt;-->

</configuration>
